* {
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
}

header {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: flex-end;
}

header,
main,
footer {
    width: 1024px;
    margin: 0 auto;
}

header>.logo {
    max-height: 82px;
}

header>.main-menu {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

header>.main-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 60px;
}

header>.main-menu li {
    display: inline-block;
    margin-right: 5px;
}

header>.main-menu a {
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    display: inline-block;
    color: #28877F;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
}
header>.main-menu a:hover {
    background: rgba(0,0,0,0.02);
    border-bottom: 2px solid #28877F;
}

header>.main-menu a.selected {
    border-bottom: 2px solid #28877F;
}

.hero {
    background-image: url(assets/plants.png);
    background-size: cover;
    background-position: center;
    flex: 3;
    height: 320px;
    line-height: 320px;
    text-align: center;
}
.hero h2 {
    color: #fff;
    font-size: 48px;
    text-shadow: 10px 10px 10px #000;
}

.content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 36px;
}
.content .column {
    flex: 1;
}

footer {
    display: flex;
    background: #444;
    height: 100px;
    margin-top: 36px;
    align-items: flex-end;
}
footer a {
    color: #fff;
}
footer > .column {
    flex: 1;
    padding: 10px;
    color: #fff;
}
footer .column:last-child {
    text-align: right;
}